@import 'tailwindcss' theme(static);
@import '@nuxt/ui';
@plugin "@tailwindcss/typography";
@tailwind utilities;

body {
  background-color: #fffaf0;
}

@theme static {
  --font-inter: 'Inter', sans-serif;
}

@utility screen-navbar {
  height: calc(100vh - 67px);
}